@charset "UTF-8";
/**
 *
 * @authors ide
 * @email   794958215@qq.com
 * @date    2019-04-29 09:38:32
 * @version $Id$
 */
.box{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    background-image: url('../img/background.png');
}
.box_row{
    display: flex;
    width: 30%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    align-items:center;
}
.box_row:after{
    display: block;
    content: "";
    clear: both;
}
.box_main{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3%;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.8;
}
.box_main:after{
    display: block;
    content: "";
    clear: both;
}

.box_right{
    width: 100%;
    height: auto;
    display: block;
}
.title{
    margin-top: 5%;
    font-family: 微软雅黑;
    font-weight: 100;
    text-align: center;
    color:  #A9A9A9;
    letter-spacing: 1em;
    margin-left: 1em;
}
.box_right_row{
    padding: 10%;
}
.box_right_row:after{
    display: block;
    content: "";
    clear: both;
}
.box_right:after{
    display: block;
    content: "";
    clear: both;
}
.login_user{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 5%;
}
.login_img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#user{
    width: 90%;
    height: 40px;
    padding-left: 45px;
}
.login_password{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 5%;
}
#password{
    width: 90%;
    height: 40px;
    padding-left: 45px;
}
#eyes{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 5%;
    cursor: pointer;
}
#confirm_eyes{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 5%;
    cursor: pointer;
}
.confirm_password{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 5%;
}
#confirm_password{
    width: 90%;
    height: 40px;
    padding-left: 45px;
}
.mailbox{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 5%;
}
#mailbox{
    width: 90%;
    height: 40px;
    padding-left: 45px;
}
.Verification_Code{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 5%;
}
#Verification_Code{
    width: 90%;
    height: 40px;
    padding-left: 45px;
}
#getVerification{
    position: absolute;
    top: 8px;
    right: 5%;
    border-radius: 10px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    color: red;
}
input#getVerification:focus{
    outline: none;
}
.login{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
    border: 0;
    background-color: #0186ca;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
input.login:focus{
    outline: none;
}
@media only screen and (max-width: 1500px) {
    #eyes{
        right: 5%;
    }
    #confirm_eyes{
        right: 5%;
    }
    #getVerification{
        right: 5%;
    }
    .box_row{
        width: 40%;
    }
}
@media only screen and (max-width: 800px) {
    .box .box_row{
        width: 60%;
    }
    .box_right_row .login_user{
        height: 30px;
    }
    .login_img{
        width: 15px;
        height: 15px;
    }
    #user{
        height: 30px;
        padding-left: 30px;
    }
    .box_right_row .login_password{
        height: 30px;
    }
    #password{
        height: 30px;
        padding-left: 30px;
    }
    #eyes{
        width: 15px;
        height: 15px;
    }
    .box_right_row .confirm_password{
        height: 30px;
    }
    #confirm_password{
        height: 30px;
        padding-left: 30px;
    }
    #confirm_eyes{
        width: 15px;
        height: 15px;
    }
    .box_right_row .mailbox{
        height: 30px;
    }
    #mailbox{
        height: 30px;
        padding-left: 30px;
    }
    .box_right_row .Verification_Code{
        height: 30px;
    }
    #Verification_Code{
        height: 30px;
        padding-left: 30px;
    }
    #getVerification{
        font-size: 12px;
        top: 5px;
    }
}