<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content=" ">
    <title>找回密码</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";margin: 0;padding: 0;}
        img{  width: 40px;margin-left:-10px;margin-top:-13px;}
        input{border: 2px #cad0d7 solid;}
    </style>
    <link rel="stylesheet" type="text/css" href="css/forgword.css">
</head>
<body>
<form method="get" action="">
 <div class="box">
        <div class="box_row">
            <div class="box_main">
                <div class="box_left">
                    <img src="img/background_left.png" class="background_left">
                </div>
                <div class="box_right">
                    <div class="box_right_row">
                        <h1 class="title">找回密码</h1>
                        <div class="underline"></div>
                        <div class="h">请输入注册时使用的邮箱账号</div>

                        <div class="login_email">
                            <div class="login_img">
                                <img src="img/email.png">
                            </div>
                            <input type="text" name="email" id="email" placeholder='邮箱账号'>
                        </div>

                        <div class="login_vcode">
                            <div class="login_img">
                                <img src="img/v.png" >
                            </div>
                            <button name="obtion" id="obtion" value="获取验证码">
                                获取验证码
                            </button>
                            <input type="text" name="vcode" id="vcode" placeholder='验证码' >
                        </div>

                        <div class="login_password">
                            <div class="login_img">
                                <img src="img/lock.png">
                            </div>
                            <img src="img/eyes_close.png" id='eyes' onclick="changeEyes()">
                            <input type="password" name="password" id="password" placeholder='新密码' >
                        </div>
                        <div class="register">

                        </div>
                        <div class="forget_password">

                        </div>
                        <input type="submit" value="设置并登陆" name="login" id="login">
                        <a href="" class="login_bottom">
                            回到登陆页
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script type="text/javascript" src="js/forgword.js"></script>

</body>
</html>