<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content=" ">
    <title>登陆界面</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";margin: 0;padding: 0;}
        img{width: 100%;display: block;}
        input{border: 2px #cad0d7 solid;}
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
</head>
<body>
<form th:action="@{/login}" method="post">
    <div class="box">
        <div class="box_row">
            <div class="box_main">
                <div class="box_left">
                    <img th:src="@{img/background_left.png}" class="background_left">
                </div>
                <div class="box_right">
                    <div class="box_right_row">
                        <h1 class="title">登录</h1>
                        <h4>使用您的账户登录</h4>
                        <div class="login_user">
                            <div class="login_img">
                                <img th:src="@{img/user.png}">
                            </div>
                            <input type="text" name="username" id="user" placeholder='用户名'>
                        </div>
                        <div class="login_password">
                            <div class="login_img">
                                <img th:src="@{img/lock.png}" >
                            </div>
                            <img th:src="@{img/eyes_close.png}" id='eyes' onclick="changeEyes()">
                            <input type="password" name="password" id="password" placeholder='密码' >
                        </div>
                        <div class="register">
                            <a th:href="@{/registered}">
                                注册
                            </a>
                        </div>
                        <div class="forget_password">
                            <a href="">
                                忘记密码？
                            </a>
                        </div>
                        <input type="submit" class="login" value="登录">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script type="text/javascript" th:src="@{js/index.js}"></script>
</body>
</html>